/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.header {
  opacity: 0.7;
  padding: 10px;
  font-size: 0.7em;
}

.tweets {
  max-width: 400px;
}

abbr[title] {
  border: none;
  cursor: default;
}

html {

  background: url(/picture) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Open Sans', sans-serif;
  color:#fff;
}

article {

}

h1, h2, span {
  margin:0;
}

h2 {
  font-size:8em;
}

h1 {
  text-transform: uppercase;
  font-size:.8em;
  color:#BABABA;
  letter-spacing: 2px;
}

article {
  background: rgba(30,30,30,.8);
  padding:20px;
  display:inline-block;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
}

section {
  border-bottom: 1px rgba(255,255,255,.1) solid;
  margin-bottom:40px;
}


@font-face {
    font-family:'ClimaconsRegular';
    src: url('../fonts/climacons-webfont.eot');
    src: url('../fonts/climacons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/climacons-webfont.woff') format('woff'),
         url('../fonts/climacons-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.climacon {
  font-family:'ClimaconsRegular';
  font-size: 6rem;
  vertical-align: middle;
}

.temp {
  font-size:3rem;
  position:relative;
  top:-3rem;
}

a, a:hover {
  text-decoration: none;
  color:#fff;
}

.chirp .meta {
  display:none;
}

.chirp .meta time {
  color:#fff;
  display: block;
}

.climacon.indicator {
  z-index:999;
  position:relative;
  right:20px;
  color:#30a3ec;
}

a#target {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  margin-left: -35px;
  position: relative;
  float:right;
  margin-top:35px;
  margin-right:40px;
}

a#target #pulse {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  border: 2px solid #30a3ec;
  border-radius: 50px;
  box-shadow: 0 0 5px #a0eaff;

  /* Animate */

  -webkit-animation-name: pulse;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;

  -moz-animation-name: pulse;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-out;

  -o-animation-name: pulse;
  -o-animation-duration: 1s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: ease-out;

  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

/* The animation */

/* WebKit/Safari and Chrome */

@-webkit-keyframes pulse {

  0% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0.5;
  }

  80% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }

  100% {
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
    opacity: 0;
  }
}

/* Gecko/Firefox */

@-moz-keyframes pulse {

  0% {
    -moz-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0.5;
  }

  80% {
    -moz-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }

  100% {
    -moz-transform: scale(2.5);
    transform: scale(2.5);
    opacity: 0;
  }
}

/* Presto/Opera */

@-o-keyframes pulse {

  0% {
    -o-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0.5;
  }

  80% {
    -o-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }

  100% {
    -o-transform: scale(2.5);
    transform: scale(2.5);
    opacity: 0;
  }
}

/* Standard */

@keyframes pulse {

  0% {
    transform: scale(0.3);
    opacity: 0.5;
  }

  80% {
    transform: scale(1.5);
    opacity: 0;
  }

  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
